<header class="max-w-screen-2xl py-6 m-auto sticky top-0 z-50">
  <div class="flex items-center space-x-6">
    <img src="../../assets/logo.svg" alt="" class="w-20" />
    <div>
      <ul class="flex space-x-5 text-xs font-light">
        <li><a href="">Accueil</a></li>
        <li>Séries</li>
        <li>Films</li>
        <li>Nouveautés les plus regardées</li>
        <li>Ma liste</li>
        <li>Explorer par langue</li>
      </ul>
    </div>
    <div class="flex-1"></div>
    <div class="flex space-x-4">
      <img src="../../assets/search.svg" alt="">
      <img src="../../assets/notification.svg" alt="">
      <div class="flex space-x-1">
        <img src="../../assets/images/profil.jpg" alt="" class="w-6 rounded-sm">
        <img src="../../assets/arrow-down.svg" alt="" class="">
      </div>
    </div>
  </div>
</header>
